html {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*margin: 0;*/
}

.counter-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 10px;
    flex-shrink: 0;
}
.view{
    height: 150px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.min-wrapper, .max-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.title{
    color: green;
}

.input-value{
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.management-panel{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.btn-wrp + .btn-wrp{
    border-left: 1px solid gray;
}
.btn-wrp{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 150px ;
    height: 50px;
}

.pressed{
    background: #FAFAFA;
}

.toolbar{
    line-height: 22px;
    width: 600px;
    padding: 12px 0;
}
.add-counter{
    margin: 5px;
    display: inline-block;
    border: 1px solid gray;
}

.counters-container{
    display: flex;
    flex-direction: column;

}