html {
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*margin: 0;*/
}

.counter-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 368px;
    height: 134px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 10px;
    flex-shrink: 0;
}
.view{
    height: 97px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.min-wrapper, .max-wrapper{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95px;
}
.title{
    color: green;
}

.input-value{
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.management-panel{
    width: 368px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.btn-wrp + .btn-wrp{
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.btn-wrp{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 150px ;
    height: 36px;
}

.pressed{
    background: #FAFAFA;
}

.toolbar{
    line-height: 22px;
    width: 368px;
    padding: 12px 0;
}
.add-counter, .sort-counters{
    padding: 2px 4px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.btn-is-disabled{
    pointer-events: none;
    opacity: 0.7;
}

.counters-container{
    display: flex;
    flex-direction: column;

}

.main-control-panel{
    margin-bottom: 5px;
    width:368px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.stat-panel{
    display: flex;
    flex-wrap: wrap;
    height: 134px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    flex-direction: column;
    width: 368px;
    border-radius: 4px;
    margin-bottom: 5px;
    flex-shrink: 0;
}
.summary-stat, .average-stat, .min-stat, .max-stat{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-stat-header, .min-stat-header, .average-stat-header, .max-stat-header{
    font-weight: bold;
    font-size: 18px;
}